/* Light blue (#E9F1FA), bright blue (#00ABE4), white (#FFFFFF) */
/*  #ffffff // #00171f // #003459 // #007ea7 // #00a8e8 */


header {
  padding: 1em;
  background-color: #00a8e8;
}

header a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

header a:hover {
  color: darkslategray;
  border-bottom: 2px solid darkslategray;
}

header h1 a {
  font-size: xx-large;
  font-weight: bold;    
  margin-left: 0.5em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  max-width: 80rem;
  margin: 0 auto;
}

footer {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  margin-top: auto;
}

footer li {
  list-style-type: none;
}



/* mobile styles*/
@media only screen and (min-width: 0) and (max-width: 600px){ 
    button {
      position: absolute ;
      top: 1em;
      right: 1em;
      padding: 10px;
      background-color: transparent;
      border: none;
      z-index: 100;
    }
  
    button:hover {
      cursor: pointer;
    }
  
    [class^=line-] {
      padding: 3px;
      border-top: 2px solid white;
      position: relative;
    }
  
    .line-1 {
      width: 28px;
    }
  
    .line-2 {
      width: 18px;
      left: 10px;
    }
  
    .line-3 {
      width: 8px;
      left: 20px;
    }
    
    header nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      height: 100vh;
      z-index: 50;
    }
  
    header nav ul {
      height: 100vh;
      padding: 4.4em 1em 1em 1em;    
      background-color: #003459;    
      transition: transform .4s ease-in;     
      position: absolute;    
      top: 0;
      left: 0;    
      width: 100%;
      overflow-y: scroll;
      z-index: 20;
    }
    
    header nav ul li {
      line-height: 1.5;
    }
  
    nav.menu-opened ul {
      transform: translateX(40vw);    
    }
  
    nav.menu-closed ul {
      transform: translateX(100vw);
    }
  
    #back-top-top {
      display: none;
      max-width: 20px;
      height: 20px;
    }  
  }

  /* desktop styles */
@media only screen and (min-width: 601px) { 
    button {
      display: none;
      visibility: hidden;
    }
  
    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    header nav ul li {
      text-decoration: none;
      list-style: none ;
      float: left;
      padding: 0.3em ;
      text-align: center;
    }
  
  }
  
  #back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 50%;
    z-index: 100;
  }