html {
    font-family: sans-serif;
    color: #444;
}

body {
    background: linear-gradient(to bottom, #00a8e8 10%, #f79256 100%);
}

main {
    display: block;
    justify-content: space-between;
}

.flex-container {
    position: relative;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2em;
}

.container-content {
    position: relative;
    max-width: 450px;
    max-height: 450px;
}

.container-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

 .flex-container > div {
    background-color: whitesmoke;
    position: relative;
    margin: 1.5em;
    padding: 1px;
    line-height: 1em;
    /* box-shadow: 0 0 0 1px black; */
    box-shadow: 0 20px 40px lightslategray;
    /* border-radius: 15px; */
}

.image {
    /* display: block; */
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #003459;
  }
  
  .container-content:hover .overlay {
    opacity: 0.85;
  }
  
  .text {
    color: white;
    font-size: 18px;
    line-height: 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .text a {
    color: #f79256;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 1px solid #f79256;
  }
  
@media screen and (max-width: 600px) {
    .container-content {
        flex-basis: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    main {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (min-width: 601px) { 
    main {
        max-width: 90rem;
        margin: 0 auto;
    }
}


   /*
  flex-base: 50%
  flex-grow: 0;
  flex-shrink: 0;
  */