html {
    font-family: sans-serif;
    color: #444;
}

body {
    background: linear-gradient(to bottom, #00a8e8 10%, #f79256 100%);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
 .flex-container > div {
    background-color: whitesmoke;
    margin: 2em;
    text-align: center;
    line-height: 50px;
    flex: 30%;
    box-shadow: 0 0 0 1px black;
    position: relative;
    border-radius: 15px;
}
