/* Light blue (#E9F1FA), bright blue (#00ABE4), white (#FFFFFF) */
/*  #ffffff // #00171f // #003459 // #007ea7 // #00a8e8 */

html {
  font-family: sans-serif;
  color: #444;
}

body {
  background-image: url('back.jpeg');
  position: relative;    
  width: 100%;    
  min-height: 100vh;    
  transition: background-color .5s;
}

main {
  line-height: 1.5;
  padding-top: 1em;
  padding: 1em;
}

main img {
  width: 100%;
  height: auto;
}

#pete_click {
  color: blue; 
}

.pete_hidden {
  display: none;
  visibility: hidden;
  background-color: lightgray;
}

/* desktop styles */
@media only screen and (min-width: 601px) { 
  main {
    display: block;
    justify-content: space-between;
  }

  main section {
    padding-top: 0.1px;
    flex-basis: 70%;
    padding-right: 0.5em;
  }

  main aside {
    flex-basis: 30%;
    padding-left: 0.5em;
  }
}